.elementor-6410 .elementor-element.elementor-element-99bb247{--display:flex;--background-transition:0.3s;--margin-block-start:70px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}body.rtl .elementor-6410 .elementor-element.elementor-element-fa4bb25.elementor-author-box--layout-image-left .elementor-author-box__avatar,
					 body:not(.rtl) .elementor-6410 .elementor-element.elementor-element-fa4bb25:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-right:2.2em;margin-left:0;}body:not(.rtl) .elementor-6410 .elementor-element.elementor-element-fa4bb25.elementor-author-box--layout-image-right .elementor-author-box__avatar,
					 body.rtl .elementor-6410 .elementor-element.elementor-element-fa4bb25:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-left:2.2em;margin-right:0;}.elementor-6410 .elementor-element.elementor-element-fa4bb25.elementor-author-box--layout-image-above .elementor-author-box__avatar{margin-bottom:2.2em;}.elementor-6410 .elementor-element.elementor-element-fa4bb25 .elementor-author-box__avatar img{border-radius:10px;}.elementor-6410 .elementor-element.elementor-element-fa4bb25 .elementor-author-box__name{color:#052C62;font-family:"Red Rose", Sans-serif;font-size:30px;font-weight:600;}.elementor-6410 .elementor-element.elementor-element-fa4bb25 .elementor-author-box__bio{color:#052C62;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;line-height:1.2em;}.elementor-6410 .elementor-element.elementor-element-f2f68db{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:0px;--margin-block-end:120px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-6410 .elementor-element.elementor-element-46ca2bb{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-6410 .elementor-element.elementor-element-42bd94f .elementor-heading-title{color:#052C62;font-family:"Red Rose", Sans-serif;font-size:25px;font-weight:600;}.elementor-6410 .elementor-element.elementor-element-42bd94f > .elementor-widget-container{padding:18px 20px 18px 30px;background-color:#F3F3F3;border-radius:10px 10px 10px 10px;}.elementor-6410 .elementor-element.elementor-element-59e3ee8 .elementor-heading-title{color:#052C62;font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;}.elementor-6410 .elementor-element.elementor-element-4c66e1f{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:flex-start;--align-items:flex-end;--background-transition:0.3s;}.elementor-6410 .elementor-element.elementor-element-e7f4c04 .elementor-heading-title{color:#052C62;font-family:"Red Rose", Sans-serif;font-size:25px;font-weight:600;}.elementor-6410 .elementor-element.elementor-element-e7f4c04 > .elementor-widget-container{padding:18px 20px 18px 30px;background-color:#F3F3F3;border-radius:10px 10px 10px 10px;}.elementor-6410 .elementor-element.elementor-element-e7f4c04{width:100%;max-width:100%;}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.54 * 100% );}.elementor-6410 .elementor-element.elementor-element-55a3ddd:after{content:"0.54";}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__thumbnail__link{width:100%;}.elementor-6410 .elementor-element.elementor-element-55a3ddd{--grid-column-gap:30px;--grid-row-gap:20px;width:100%;max-width:100%;}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__thumbnail{border-radius:10px 10px 10px 10px;}.elementor-6410 .elementor-element.elementor-element-55a3ddd.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:10px;}.elementor-6410 .elementor-element.elementor-element-55a3ddd.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:10px;}.elementor-6410 .elementor-element.elementor-element-55a3ddd.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:10px;}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__title, .elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__title a{color:#052C62;font-family:"Red Rose", Sans-serif;font-size:22px;font-weight:600;line-height:1.2em;}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__title{margin-bottom:3px;}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__excerpt p{color:#052C62;}@media(max-width:1024px){.elementor-6410 .elementor-element.elementor-element-42bd94f .elementor-heading-title{font-size:18px;}.elementor-6410 .elementor-element.elementor-element-e7f4c04 .elementor-heading-title{font-size:18px;}}@media(max-width:767px){.elementor-6410 .elementor-element.elementor-element-99bb247{--margin-block-start:80px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}body.rtl .elementor-6410 .elementor-element.elementor-element-fa4bb25.elementor-author-box--layout-image-left .elementor-author-box__avatar,
					 body:not(.rtl) .elementor-6410 .elementor-element.elementor-element-fa4bb25:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-right:0.7em;margin-left:0;}body:not(.rtl) .elementor-6410 .elementor-element.elementor-element-fa4bb25.elementor-author-box--layout-image-right .elementor-author-box__avatar,
					 body.rtl .elementor-6410 .elementor-element.elementor-element-fa4bb25:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-left:0.7em;margin-right:0;}.elementor-6410 .elementor-element.elementor-element-fa4bb25.elementor-author-box--layout-image-above .elementor-author-box__avatar{margin-bottom:0.7em;}.elementor-6410 .elementor-element.elementor-element-fa4bb25 .elementor-author-box__name{font-size:17px;}.elementor-6410 .elementor-element.elementor-element-fa4bb25 .elementor-author-box__bio{font-size:12px;}.elementor-6410 .elementor-element.elementor-element-fa4bb25{width:100%;max-width:100%;}.elementor-6410 .elementor-element.elementor-element-46ca2bb{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-6410 .elementor-element.elementor-element-4c66e1f{--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-6410 .elementor-element.elementor-element-55a3ddd:after{content:"0.5";}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__thumbnail__link{width:100%;}.elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__title, .elementor-6410 .elementor-element.elementor-element-55a3ddd .elementor-post__title a{font-size:18px;}}@media(min-width:768px){.elementor-6410 .elementor-element.elementor-element-46ca2bb{--width:50%;}.elementor-6410 .elementor-element.elementor-element-4c66e1f{--width:50%;}}/* Start custom CSS for author-box, class: .elementor-element-fa4bb25 */.__box_user .elementor-author-box__avatar{
    width: 29%
}
.__box_user .elementor-author-box__avatar img{
    width: 100% !Important;
    aspect-ratio: 1.3;
    object-fit: cover;
}
.__box_user .elementor-author-box__text{
    width: 68% ;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-42bd94f */.__text_post h2{
    position: relative;
}
.__text_post {
    max-width: 540px !important;
}
.__text_post h2::after{
    content:'';
width: 30px;
    height: 30px;
    background-image: url(/wp-content/uploads/2023/11/Iconsax.svg);
    background-size: 100% 100%;
    position: absolute;
    right: 10px;
    top: 0px;
    transform: rotate(90deg)
    

}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-e7f4c04 */.__text_post h2{
    position: relative;
}
.__text_post {
    max-width: 540px !important;
}
.__text_post h2::after{
    content:'';
width: 30px;
    height: 30px;
    background-image: url(/wp-content/uploads/2023/11/Iconsax.svg);
    background-size: 100% 100%;
    position: absolute;
    right: 10px;
    top: 0px;
    transform: rotate(90deg)
    

}/* End custom CSS */
/* Start custom CSS for archive-posts, class: .elementor-element-55a3ddd */.__post_user{
    max-width: 540px !important;
}
.__post_user .elementor-post__excerpt{
        width: 95% !important;
    max-height: 55px;
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.__post_user .elementor-post__title{
    max-width: 400px;
}
.__post_user .elementor-post:nth-child(4),.__post_user .elementor-post:nth-child(5),.__post_user .elementor-post:nth-child(6),
.__post_user .elementor-post:nth-child(7),.__post_user .elementor-post:nth-child(8),.__post_user .elementor-post:nth-child(9),.__post_user .elementor-post:nth-child(10){
display: none;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-Regular-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-SemiBold-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-Bold-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/Montserrat-Medium-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/Montserrat-SemiBold-2.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/Montserrat-Bold-2.ttf') format('truetype');
}
/* End Custom Fonts CSS */