.elementor-11 .elementor-element.elementor-element-dac1c61 > .elementor-container{max-width:1140px;}.elementor-11 .elementor-element.elementor-element-dac1c61:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-dac1c61 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-11 .elementor-element.elementor-element-dac1c61{box-shadow:2px 2px 20px 0px rgba(180, 180, 180, 0.10196078431372549);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-dac1c61 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11 .elementor-element.elementor-element-2ed90cd > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-11 .elementor-element.elementor-element-2ed90cd > .elementor-element-populated{padding:06px 0px 03px 0px;}.elementor-11 .elementor-element.elementor-element-16b6e66 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-2c962a6 img{width:80px;}.elementor-11 .elementor-element.elementor-element-2c962a6{z-index:1000;}.elementor-11 .elementor-element.elementor-element-5150d3a .elementor-heading-title{color:#E0A34F;font-family:"Red Rose", Sans-serif;font-weight:500;}.elementor-11 .elementor-element.elementor-element-55137d5{padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-b32fdb6 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-menu-toggle{margin-right:auto;background-color:#02010100;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu .elementor-item{font-family:"Red Rose", Sans-serif;font-weight:500;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main .elementor-item{color:#052C62;fill:#052C62;padding-left:0px;padding-right:0px;padding-top:5px;padding-bottom:5px;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main .elementor-item:focus{color:#E0A34F;fill:#E0A34F;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#E0A34F;}.elementor-11 .elementor-element.elementor-element-2c6de39 .e--pointer-framed .elementor-item:before,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .e--pointer-framed .elementor-item:after{border-color:#E0A34F;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#E0A34F;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#E0A34F;}.elementor-11 .elementor-element.elementor-element-2c6de39 .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#E0A34F;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a, .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-menu-toggle{color:#052C62;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown{background-color:#FFFFFF;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a:hover,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-menu-toggle:hover{color:#FFFFFF;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a:hover,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.highlighted{background-color:#171D90;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.elementor-item-active{color:#E0A34F;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a{padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown li:not(:last-child){border-style:none;}.elementor-11 .elementor-element.elementor-element-2c6de39 div.elementor-menu-toggle:hover{color:#2E2525;}.elementor-11 .elementor-element.elementor-element-2c6de39 div.elementor-menu-toggle:hover svg{fill:#2E2525;}.elementor-11 .elementor-element.elementor-element-2c6de39 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-2c6de39{width:var( --container-widget-width, 103.119% );max-width:103.119%;--container-widget-width:103.119%;--container-widget-flex-grow:0;}.elementor-11 .elementor-element.elementor-element-ca02adf:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-ca02adf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3F3F3;}.elementor-11 .elementor-element.elementor-element-ca02adf{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:053px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-ca02adf > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-11 .elementor-element.elementor-element-7cf3fa1:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-11 .elementor-element.elementor-element-7cf3fa1 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3F3F3;}.elementor-11 .elementor-element.elementor-element-7cf3fa1 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-7cf3fa1 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}@media(min-width:768px){.elementor-11 .elementor-element.elementor-element-16b6e66{width:91%;}.elementor-11 .elementor-element.elementor-element-aa3ae92{width:9%;}}@media(max-width:1024px) and (min-width:768px){.elementor-11 .elementor-element.elementor-element-16b6e66{width:60%;}.elementor-11 .elementor-element.elementor-element-aa3ae92{width:40%;}}@media(max-width:1024px){.elementor-11 .elementor-element.elementor-element-2ed90cd > .elementor-element-populated{padding:15px 15px 10px 15px;}.elementor-11 .elementor-element.elementor-element-2c962a6{text-align:right;width:var( --container-widget-width, 458px );max-width:458px;--container-widget-width:458px;--container-widget-flex-grow:0;}.elementor-11 .elementor-element.elementor-element-2c962a6 img{width:80px;}.elementor-11 .elementor-element.elementor-element-2c962a6 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-11 .elementor-element.elementor-element-aa3ae92.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-11 .elementor-element.elementor-element-aa3ae92.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-11 .elementor-element.elementor-element-aa3ae92.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-11 .elementor-element.elementor-element-5150d3a .elementor-heading-title{font-size:16px;}.elementor-11 .elementor-element.elementor-element-5150d3a{width:var( --container-widget-width, 33.188px );max-width:33.188px;--container-widget-width:33.188px;--container-widget-flex-grow:0;}.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a{padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;}.elementor-11 .elementor-element.elementor-element-2c6de39 > .elementor-widget-container{padding:0px 0px 0px 0px;}}@media(max-width:767px){.elementor-11 .elementor-element.elementor-element-16b6e66{width:60%;}.elementor-11 .elementor-element.elementor-element-2c962a6 img{width:60px;}.elementor-11 .elementor-element.elementor-element-aa3ae92{width:40%;}.elementor-11 .elementor-element.elementor-element-ca02adf{margin-top:028px;margin-bottom:0px;}}/* Start custom CSS for column, class: .elementor-element-aa3ae92 */@media (min-width:1024px){
    .__column_hide{
    width:0 !important;
} 
 }/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-2c6de39 */@media screen and (max-width:1024px){
.elementor-element.elementor-element-9fb2e88.elementor-nav-menu__align-justify.__menu-header.elementor-nav-menu--dropdown-tablet.elementor-nav-menu__text-align-aside.elementor-nav-menu--toggle.elementor-nav-menu--burger.elementor-widget.elementor-widget-nav-menu{
        height:0 !important;
    }
.__menu-header .elementor-menu-toggle{
margin-right:0 !important;

    
}
.__menu-header .elementor-widget-container{
    position:relative;
    top:-45px;
}

}
 @media (max-width:767px){
     .__menu-header .elementor-widget-container{
    position:relative;
    top:-35px;
}
 }
 body > div.elementor.elementor-11.elementor-location-header > section > div > div > div > div.elementor-element.elementor-element-9fb2e88.elementor-nav-menu__align-center.__menu-header.elementor-nav-menu--dropdown-tablet.elementor-nav-menu__text-align-aside.elementor-nav-menu--toggle.elementor-nav-menu--burger.elementor-widget.elementor-widget-nav-menu > div > div{
     position: relative;
    z-index: 10000000;
 }
 .__menu-header nav.elementor-nav-menu--dropdown.elementor-nav-menu__container {
    background: white;
    z-index: 1000;
}
ul#menu-1-9fb2e88{
    justify-content: space-between;
}
ul#menu-1-9fb2e88 li{
    flex-grow: unset !important;
}
nav.elementor-nav-menu--dropdown.elementor-nav-menu__container{
      position: absolute;
    width: calc(100% + 30px);
    left: -15px;
    top: 40px;
    padding-left: 15px;
        height: 90vh;
}
.__menu-header .elementor-menu-toggle{
    z-index: 1000;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-dac1c61 */@media (min-width:768px){
    .__d_show_mobile{
        display:none !important;
    }
}
html {
    margin-top: 32px !important;
}
.__header{
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
}
.elementor-nav-menu .sub-arrow{
    margin-top: -24px !important;
    margin-bottom: -16px !important;
    padding: 5px 0  0 5px !important;
}
.__icon_logo_header{
    transition: 2s display ease;
}
.fa-caret-down:before{
    content:"\f107" !important;
    font-size: 16px;
    padding-top: 5px;
    /*background-image: url('/wp-content/uploads/2023/12/arrow_menu.svg');*/
    /*background-size: 15px 15px;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*display: block;*/
}
.elementor-nav-menu .sub-arrow{
    padding-left: 5px !important;
}
a.elementor-sub-item{
    font-size: 13px !important;
        font-family: "Montserrat", Sans-serif !important;
}
.__header .sub-menu.elementor-nav-menu--dropdown li a{
    font-weight: 500 ;
}
#menu-2-9fb2e88{
    display: flex;
    flex-direction: column;
}
.__header nav.elementor-nav-menu--dropdown.elementor-nav-menu__container{
    min-height: calc(100vh - 61px) !important;
    background: white !important;
    margin: 0 !important;
}
.elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu--dropdown a.elementor-item-active{
    color: white !important;
}
nav ul a:hover{
    background-color: transparent !important;
}
.__header .sub-menu.elementor-nav-menu--dropdown{
    margin-top: 10px !important;
    border-radius: 15px;
    padding: 20px 30px;
    row-gap: 25px;
    flex-direction: column;
    color: white;
    background-color: #052C62 !important;
}
.__header .sub-menu.elementor-nav-menu--dropdown li a{
    color: white !important;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.__header  li a:hover,.__header .sub-menu.elementor-nav-menu--dropdown li a:hover{
    color: #E0A34F !important;
}
.__header .sub-menu.elementor-nav-menu--dropdown li a.elementor-item-active{
    background-color: transparent !important;
    color: #E0A34F !important;
}
/*.__header .sub-menu.elementor-nav-menu--dropdown li:last-child a{*/
    
/*    margin-bottom: 0;*/
/*}*/
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
    height: unset !important;
}
.sub-menu li{
   position: relative;
}
.sub-menu li::after{
   position: absolute;
   content:"";
  width: 6px;
  height: 16px;
  background-image: url('/wp-content/uploads/2023/11/Vector.svg');
  background-size: 100% 100%;
  left: -5px;
  top: 3px;
}


@media (min-width:1200px){
    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424 ul li ul li::after{
    width: 0 !important;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424 ul{
    top: -10px !important;
    left: -30px !important;
    padding-left: 10px !important;

    margin-top: 0 !important;

}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424 ul .sub-menu{
    padding-top: 0 !important;
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424 .sub-menu .sub-menu{
    position: static !important;
    display: flex !important;
    row-gap:0px !important;

}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424 .sub-menu .sub-menu a{
    margin-bottom:7px !important;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424>.sub-menu li{
    width: max-content;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424>.sub-menu li .sub-arrow{
    transform: rotate(90deg);
    position: relative;
    top: 2px;
    left:5px;

}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424>.sub-menu li .sub-arrow i{
    font-size: 0px;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424:hover>.sub-menu{
    display: flex;
        flex-direction: row !important;
    flex-wrap: wrap;
    width: 800px !important;
    margin-left:110%;
    justify-content: space-between;
    padding:  20px 40px 20px 40px !important;
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424 ul li ul li a{
    border-left: 0px !important;
}

}
#menu-1-9fb2e88 > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-3801 a{
    color: #E0A34F ;

}
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-3424 ul li a{
    text-transform: unset !important;
        font-weight: 500;
}
@media (max-width:1199px){
 li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-3762{
        width:100% !important;
    }
}
.elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu .elementor-item {
    text-transform: uppercase !important;
}
body > div.elementor.elementor-11.elementor-location-header > section > div > div > div > section > div > div > div{
    padding: 0 !important;
}
@media (max-width:1024px){
    .elementor-menu-toggle {
    width: max-content;
}
    #menu-2-9fb2e88 {
    row-gap: 10px;}
    .__header nav.elementor-nav-menu--dropdown.elementor-nav-menu__container {
 
    margin-top: 0px !important;
}
    .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-menu-toggle{
        justify-content: start;
        margin:unset !important;
    }
    #menu-2-9fb2e88 > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-3801{
        display:none ;
    }
    .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu .elementor-item{
        font-size:1.2em !important;
    }
    .elementor-nav-menu--dropdown.elementor-nav-menu__container .elementor-sub-item {
    font-size: 1em !important;
}
    .elementor-nav-menu .sub-arrow i {
    font-size: 18px;
}
     .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu--dropdown a.elementor-item-active{
         color:#E0A34F !important;
     }
     .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu--dropdown a:hover, .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu--dropdown a.highlighted{
         background:transparent !important;
     }
   .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu--dropdown a,body .elementor-11 .elementor-element.elementor-element-9fb2e88 .elementor-nav-menu--dropdown a.elementor-item-active{
         color:#052C62 !important;
     }
    body .__header .sub-menu.elementor-nav-menu--dropdown{
         background-color:transparent!important;
         padding-top:0 !important;
          padding-bottom:0 !important;
     }
     nav ul li{
         float:unset !important;
     }
 }
 #menu-1-2c6de39 > li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-3801 a{
     color: #E0A34F !important;
 }
@media (max-width:767px){
    .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu .elementor-item {
    font-size: 18px;
 
}
    .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.highlighted{
    color:#052C62 !important;
    }

    .elementor-11 .elementor-element.elementor-element-2c6de39{
        height:0 !important;
    }
    .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a, .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-menu-toggle {
    justify-content: start;
    
    }
    .__header .sub-menu.elementor-nav-menu--dropdown li a{
        color:#052C62 !important;
    }
    .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a:hover, .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.highlighted{
        background-color:transparent !important;
    }
}
.breadcrumbs {
    /*  padding-left: 17px !important;*/
    max-width: 1100px !important;
    width: 100%;
    z-index: 1000;
    top: 85px;
    left: 50%;
    transform: translate(-50%, 0px);
    position: absolute;
    background-color: transparent;
    padding: 8px 0;
}
.breadcrumbs a{

    text-decoration: none;
 color: #052C62 !important;

}
.breadcrumbs span{
    font-family: "Montserrat", Sans-serif !important;
    color: #052C62;
      font-size: 14px !important;

}
.breadcrumbs .current-item{
    font-size: 14px !important;
}
.menu-item-has-children .sub-menu .sub-menu {
    top: -20px !important;
}
 @media screen and (max-width: 1024px){
body .__header .sub-menu.elementor-nav-menu--dropdown li a{
    color:#052C62 !important;
}

}
.__header .sub-menu.elementor-nav-menu--dropdown li a{
      min-width: 210px  !important;
}
 @media screen and (max-width: 767px){
          .breadcrumbs{
    top: 60px;
    padding-left:15px;
}
.breadcrumbs span,.breadcrumbs p{
    font-size:14px !important;
}
body .__header .sub-menu.elementor-nav-menu--dropdown li a{
    color:#052C62 !important;
  
}

.elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a:hover, .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-11 .elementor-element.elementor-element-2c6de39 .elementor-nav-menu--dropdown a.highlighted {
background-color:ttransparent !important;
}
 }/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ca02adf */.__session_backgroud{
    height: 40px !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-Regular-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-SemiBold-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-Bold-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */