.elementor-7322 .elementor-element.elementor-element-ab2aecf{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;--margin-block-start:30px;--margin-block-end:100px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-7322 .elementor-element.elementor-element-66d68be{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:flex-start;--align-items:flex-start;--background-transition:0.3s;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-7322 .elementor-element.elementor-element-a7a8ecb:after{content:"0.66";}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-post__thumbnail__link{width:100%;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb{--grid-column-gap:20px;--grid-row-gap:20px;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-post__thumbnail{border-radius:8px 8px 8px 8px;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:7px;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:7px;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:7px;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-post__title, .elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-post__title a{color:#052C62;font-family:"Red Rose", Sans-serif;font-size:16px;font-weight:600;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-post__read-more{color:#E0A34F;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb a.elementor-post__read-more{font-family:"Red Rose", Sans-serif;font-size:14px;font-weight:500;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-pagination{text-align:center;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-pagination .page-numbers:not(.dots){color:#052C62;}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-pagination .page-numbers.current{color:#E0A34F;}body:not(.rtl) .elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-posts-nothing-found{color:#0B0B0B;}.elementor-7322 .elementor-element.elementor-element-b74fe53{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-7322 .elementor-element.elementor-element-b74fe53.e-con{--align-self:flex-start;}.elementor-7322 .elementor-element.elementor-element-29e1819 .elementor-search-form__container{min-height:40px;}.elementor-7322 .elementor-element.elementor-element-29e1819 .elementor-search-form__submit{min-width:40px;--e-search-form-submit-text-color:#052C62;background-color:#54595F00;--e-search-form-submit-icon-size:16px;}body:not(.rtl) .elementor-7322 .elementor-element.elementor-element-29e1819 .elementor-search-form__icon{padding-left:calc(40px / 3);}body.rtl .elementor-7322 .elementor-element.elementor-element-29e1819 .elementor-search-form__icon{padding-right:calc(40px / 3);}.elementor-7322 .elementor-element.elementor-element-29e1819 .elementor-search-form__input, .elementor-7322 .elementor-element.elementor-element-29e1819.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(40px / 3);padding-right:calc(40px / 3);}.elementor-7322 .elementor-element.elementor-element-29e1819 input[type="search"].elementor-search-form__input{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:400;}.elementor-7322 .elementor-element.elementor-element-29e1819:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#F3F3F3;border-radius:5px;}.elementor-7322 .elementor-element.elementor-element-29e1819.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#F3F3F3;border-radius:5px;}.elementor-7322 .elementor-element.elementor-element-29e1819 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-7322 .elementor-element.elementor-element-b77c149 .elementor-heading-title{color:#052C62;font-family:"Red Rose", Sans-serif;font-size:32px;font-weight:600;}.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu .elementor-item{font-family:"Montserrat", Sans-serif;font-size:16px;font-weight:500;}.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu--main .elementor-item{color:#052C62;fill:#052C62;padding-left:33px;padding-right:33px;padding-top:7px;padding-bottom:7px;}.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu--main .elementor-item:hover,
					.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu--main .elementor-item:focus{color:#052C62A8;fill:#052C62A8;}.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#052C62;}.elementor-7322 .elementor-element.elementor-element-f2360de{--e-nav-menu-horizontal-menu-item-margin:calc( 8px / 2 );}.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:8px;}@media(max-width:1024px){.elementor-7322 .elementor-element.elementor-element-b77c149 .elementor-heading-title{font-size:24px;}.elementor-7322 .elementor-element.elementor-element-f2360de .elementor-nav-menu .elementor-item{font-size:14px;}}@media(min-width:768px){.elementor-7322 .elementor-element.elementor-element-66d68be{--width:70%;}.elementor-7322 .elementor-element.elementor-element-b74fe53{--width:30%;}}@media(max-width:767px){.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-7322 .elementor-element.elementor-element-a7a8ecb:after{content:"0.5";}.elementor-7322 .elementor-element.elementor-element-a7a8ecb .elementor-post__thumbnail__link{width:100%;}.elementor-7322 .elementor-element.elementor-element-b3fc7be > .elementor-widget-container{margin:20px 0px 50px 0px;}}/* Start custom CSS for heading, class: .elementor-element-b77c149 */.__title-post-service{
    position: relative;
}
.__title-post-service,#menu-1-f3315ca,.__img-sale img,.__search_form {
    margin-left: auto;
    margin-right: 0 ;
    max-width: 280px !important;
    width: 100%;
}
.__img-sale .elementor-widget-container{
    display: flex;
}
.__menu_sidebar_right li{
    background: #F3F3F3;
    border-radius: 5px;
    position: relative;
}
.__menu_sidebar_right li::after{
    content:'';
    height: 16px;
    width: 16px;
    background-image: url(/wp-content/uploads/2023/11/Iconsax.svg);
    background-size: 100% 100%;
    position: absolute;
    left: 10px;
    top: 10px;
}
.__title-post-service::after{
    position: absolute;
    content: "";
    height: 2.5px;
    width: 70px;
border-radius: 30px;
background: var(--guideline-dark-yellow, radial-gradient(50% 50% at 50% 50%, #F3D07B 0%, #E1A64F 100%)); bottom: -5px;
    
} 
.__menu_sidebar_right ul{
    margin-right: 0 !important;
    margin-left: auto !important;
    max-width: 280px !important;
}
.__side-bar-right .elementor-nav-menu--main .elementor-item{
    width: 290px
}
@media (max-width:767px){
    .__title-post-service,#menu-1-f3315ca,.__img-sale img ,.__side-bar-right .elementor-nav-menu--main .elementor-item,.__menu_sidebar_right ul{
 width:100%;
    max-width:unset !important;
}
}
@media screen and (max-width: 1024px){
 .__side-bar-right .elementor-nav-menu--main .elementor-item,.__side-bar-right #menu-1-f3315ca li{
    width: 100% !important;
    font-size: 14px;
}  
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-Regular-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-SemiBold-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Red Rose';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/RedRose-Bold-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/Montserrat-Medium-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/Montserrat-SemiBold-2.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('http://demo.thammysiam.com/wp-content/uploads/2023/11/Montserrat-Bold-2.ttf') format('truetype');
}
/* End Custom Fonts CSS */